---
layout: base
title: Projects
---
<div id="projects">
	<h1 class="ml10">LATEST PROJECTS</h1>
	<hr class="hr-line" />
	<div class="row pa20">
		<div class="col-md-12">
			{% for post in site.categories.project %}
			    {% capture pattern %}{% cycle 'left', 'right' %}{% endcapture %}
			    {% if pattern == 'left' %}
			        {% include post_thumb.html %} 
			    {% endif%}  
			{% endfor %}
			{% for post in site.categories.project %}
			    {% capture pattern %}{% cycle 'left', 'right' %}{% endcapture %}
			    {% if pattern == 'left' %}
			        {% include post_thumb.html %} 
			    {% endif %}  
			{% endfor %}
		</div>
	</div>
</div>
