
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<img src="/assets/avatar.jpg" class="avatar" />
			<p class="pa10">
				I'm a software engineer, interested in front-end development, especially CoffeeScript and Single page app ( using BackboneJS or AngularJS ), and also I am Ruby on Rails and Django developer.
			</p>   
		</div>
		<div class="row-fluid">
			<h2>Contact Me</h2>
			<ul class="contact">
			  {% for con in site.contact %} 
			    <li><a href="{{con[1]}}">{{ con[0] capitalize }}</a></li>
			  {% endfor %} 
			</ul>
		</div>

		<div class="row-fluid">
			{% include twitter-widget.html %}
		</div>
	</div>
</div>	
